<footer>
    <div class="footer-info">
        <div class="f-info-socials">
            <a href="#"><i class="fa-brands fa-square-facebook"></i></a>
            <a href="#"><i class="fa-brands fa-square-instagram"></i></a>
            <a href="#"><i class="fa-brands fa-square-x-twitter"></i></a>
            <a href="#"><i class="fa-brands fa-square-linkedin"></i></a>
            <a href="#"><i class="fa-brands fa-square-reddit"></i></a>
            <a href="#"><i class="fa-brands fa-square-pinterest"></i></a>
        </div>
        <div>&copy; WanderLust private limited</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>