<nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/listings">WanderLust</a>
        <div class="btn-group dropstart">
            <button type="button" class="btn" id="nav-three-bar" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fa-solid fa-bars"></i>
            </button>
            <ul class="dropdown-menu">
              <!-- Dropdown menu links -->
              <li><a class="dropdown-item" href="/listings/new">Become a host</a></li>
              <li><a class="dropdown-item" href="#">Refer a host</a></li>
              <li><a class="dropdown-item" href="#">Find a co-host</a></li>      
              <li><hr class="dropdown-divider"></li>        
              <li><a class="dropdown-item" href="#">Login or Sign up</a></li>
            </ul>
        </div>
    </div>
</nav>